// /* CSS HEX */
// --marigold: #f0a202ff;
// --tangerine: #f18805ff;
// --flame: #d95d39ff;
// --oxford-blue: #0e1428ff;
// --morning-blue: #7b9e89ff;

// /* CSS HSL */
// --marigold: hsla(40, 98%, 47%, 1);
// --tangerine: hsla(33, 96%, 48%, 1);
// --flame: hsla(13, 68%, 54%, 1);
// --oxford-blue: hsla(226, 48%, 11%, 1);
// --morning-blue: hsla(144, 15%, 55%, 1);

/* SCSS HEX */
$marigold: #f0a202ff;
$tangerine: #f18805ff;
$flame: #d95d39ff;
$oxford-blue: #0e1428ff;
$morning-blue: #7b9e89ff;

/* SCSS HSL */
$marigold: hsla(40, 98%, 47%, 1);
$tangerine: hsla(33, 96%, 48%, 1);
$flame: hsla(13, 68%, 54%, 1);
$oxford-blue: hsla(226, 48%, 11%, 1);
$morning-blue: hsla(144, 15%, 55%, 1);

/* SCSS RGB */
$marigold: rgba(240, 162, 2, 1);
$tangerine: rgba(241, 136, 5, 1);
$flame: rgba(217, 93, 57, 1);
$oxford-blue: rgba(14, 20, 40, 1);
$morning-blue: rgba(123, 158, 137, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-right: linear-gradient(90deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-bottom: linear-gradient(180deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-left: linear-gradient(270deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-top-right: linear-gradient(45deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-bottom-right: linear-gradient(135deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-top-left: linear-gradient(225deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-bottom-left: linear-gradient(315deg, #f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
$gradient-radial: radial-gradient(#f0a202ff, #f18805ff, #d95d39ff, #0e1428ff, #7b9e89ff);
